@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
    --color-main: #1a202e
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.hidden {
    display: none;
  }

/*------------Sidebar----------------*/
.sidebar {
    width: 230px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: var(--color-main);
    color: #ffffff;
    z-index: 20;
    transition: left 300ms;
}

.checkout_heading {
    padding-bottom: 10px;
    padding-left: 30px;
    text-align: right;
    display: flex;
  }

#Logo_name1 {
    color: rgb(20, 149, 255);
  }
  
  #Logo_name2 {
    color: rgb(29, 181, 5);
  }


.sidebar-brand {
    height: 70px;
    
}

.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-icons span {
    font-size: 1.3rem;
    margin-left: .5rem;
}


.sidebar-user {
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}

.sidebar-user img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
  }

.sidebar-user h3 {
    font-size: 1rem;
}

.sidebar-user span {
    font-size: .8rem;
}

.sidebar-menu {
    margin-top: 2rem;
}

.menu-head {
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .75rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.sidebar-menu ul {
    margin-bottom: 1.5rem;
}

.sidebar-menu li {
    margin-bottom: .8rem;
    
}

.sidebar-menu li a {
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
}

.sidebar-menu li a span {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;

}

header {
   height: 60px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #efefef;
   padding: 1rem 1.5rem;
}

.header-icons span {
    display: inline-block;
    margin-left: .7rem;
    font-size: 1.4rem;
}

/*.menu-toggle {
    display: none;
}
*/
.menu-toggle label {
    font-size: 1.5rem;
    border-radius: 50%;
}

.menu-toggle label:hover {
    height: 60px;
    width: 60px;
    background: transparent;
    cursor: pointer;
}


/*------------Main View----------------*/
.main-content {
    margin-left: 230px;
}

main {
    padding: 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 70px);
}

/*------------Page Header (header for main content)----------------*/
.page-header {
    display: flex;
    justify-content: space-between;
}


.header-actions button {
    outline: none;
    background: #8da2fb;
    border: none;
    border-radius: 25px;
    padding: .5rem 1rem;
    margin-left: 1rem;
    font-weight: 500;
}

.header-actions button span{
    font-size: 1rem;
    margin-right: .1rem;
}

/*------------Cards ----------------*/

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 2rem;
}

.card-single {
    background: #fff;
    padding: 1rem;
    box-shadow: 4px 4px 10px rgb(0, 0, 0, 0.1);
    border-radius: 25px;
}

.card-flex {
    display: grid;
    grid-template-columns: 70% auto;
    align-items: center;
}



.card-head span {
    display: block; 
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .9rem;
    font-size: medium;
}


.card-head small {
    font-weight: 500;
    color: #777;
}


.card-info h2 {
    font-size: 2.2rem;
    color: #333;
}

.card-chart span {
    font-size: 5rem;
}

.card-chart.success span {
    color: seagreen;
}

.card-chart.danger span {
    color: tomato;
}

.card-chart.yellow span {
    color: orangered;
}



/* For screens wider than 768px (tablets and desktops) */

@media only screen and (min-width: 768px) {
    .cards {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  /* For screens wider than 480px (large phones and smaller tablets) */
  @media only screen and (max-width: 1173px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }

  }

  @media only screen and (max-width: 951px) {
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }

    .sidebar {
        display: none;
    }

    .main-content {
        margin-left: 0px;
    }

    .menu-toggle {
        display: block;
    }
  }

  @media only screen and (max-width: 645px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  /* For screens up to 480px wide (phones) */
  @media only screen and (max-width: 480px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }

/*-------------------------------Table----------------------------------------------*/

.details {
    position: relative;
    width: 100%;
    padding: 20px;
    padding-top: 50px;
    display: grid;
   /* grid-template-columns: 2fr 1fr;*/
}

.details .recentOrders {
    position: relative;
    display: grid;
    min-height: 530px;
    background: #fff;
    padding: 20px;
}


.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: #00bfff;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}

.details table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.details table thead td{
    font-weight: 600;
}


.details .recentOrders table tr {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}


.details .recentOrders table tbody tr:last-child {
    border-bottom: none;
}


.details .recentOrders table tbody tr:hover {
    background: #00bfff;
    color: #fff;
}


.details .recentOrders table tr td {
    padding: 9px 5px;
}

.details .recentOrders table thead tr td:last-child,
.details .recentOrders table tbody tr td:last-child {
    text-align: right;
}


.details .recentOrders table thead tr td:nth-child(2),
.details .recentOrders table tbody tr td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}

.details .recentOrders table thead tr td:nth-child(3),
.details .recentOrders table tbody tr td:nth-child(3) {
    text-align: center;
}


.status {
    position: relative;
    padding: 2px 4px;
    background: #777;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.8px;
}

.delivered {
    background: rgb(56, 206, 121);
}


.pending {
    background: #f9ca3f;
}


.return {
    background: red;
}

.inprogress {
    background: #6781f3;
}

/*-------------------------------Table End----------------------------------------------*/




/*-------------------------------Add products page (Ecommerce dashboard)----------------------------------------------*/
.Product{
    margin: 2rem;
}

.Product h1 {
    text-align: center;
}
 
#productForm label {
    display: block;
    margin-bottom: 0.5rem;
}
 
 
#productForm input, textarea, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}
 
#productForm button {
    background-color: #007bff;
    color: #fff;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
 /*-------------------------------end of(Ecommerce dashboard)----------------------------------------------*/

 /*-------------------------------start of Messages dashboard----------------------------------------------*/

 .main-messages h1 {
    text-align: center;
}

.main-messages #messages {
    border: 4px solid #ece6e6;
    padding: 1rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem; /* Add padding to the bottom of the main messages container */
}

.message {
    margin-bottom: 1rem;
    padding: 1rem 1rem; /* Increase the padding here */
    border-radius: 4px;
    background-color: #d3d9df;
    overflow: hidden; /* Ensure the content doesn't overflow the container */
}

.message:last-child {
    border-bottom: none;
}

.message-sender {
    font-weight: bold;
}

.message-content {
    flex-grow: 1;
}

.message-actions {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.message-actions form {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap; /* Ensure buttons are wrapped and aligned properly */
}

.message-actions .delete-message, .message-actions .reply-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    flex: 1 1 auto; /* Ensure buttons take equal space */
    text-align: center;
    box-sizing: border-box; /* Ensure padding and width are consistent */
}

 .message-actions .reply-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #6781f3;
    color: #fff;
    flex: 1 1 auto; /* Ensure buttons take equal space */
    text-align: center;
    box-sizing: border-box; /* Ensure padding and width are consistent */
}

.message-actions .delete-message:hover {
    background-color: #ff0000;
}

.message-actions .reply-button:hover {
    background-color: #305eae;

}

 /*-------------------------------End of Messages dashboard----------------------------------------------*/


 /*-------------------------------Users page----------------------------------------------*/

 .user-card {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .user-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .user-email, .user-phone, .user-id {
    margin-bottom: 5px;
  }

    /*-------------------------------Pagination links styling----------------------------------------------*/

    .pagination {
        display: flex;
        /* justify-content: center; */
        list-style: none;
        padding: 0;
    }
    
    .pagination li {
        margin: 0 5px;
    }
    
    .pagination a {
        padding: 5px 10px;
        border: 1px solid #ccc;
        text-decoration: none;
        color: #333;
    }
    
    .pagination .active a {
        background-color: #007bff;
        color: #fff;
    }


      /*-------------------------------End of pagination  styling----------------------------------------------*/
  

      
  /*-------------------------------End of Users page----------------------------------------------*/