
:root {
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}



body {
    font-family: "Poppins", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  main {
    display: flex;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap:1.5rem;
   max-width: 1200px;
   margin:0 auto;
   align-items: flex-start;
  }
  
  .card {
    width: calc(33% - 20px);
    background-color: #f0f0f0;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 1.5rem;
   padding:1.5rem;
    
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card p {
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .card a {
    text-decoration: none;
    color: #000;
  }
  