/* universal css styling rules for all pages. */

@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
root {
  --Poppins: "Poppins";
  --dark: #353336;
}

/* Animations */
@keyframes slideUp {
  from {
    transform: translateY(300%);
  }
}

* {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  /*box-sizing: border-box;*/
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  /* outline for testing purposes */
  /*outline: red dashed 1px;*/
}
a {
  text-decoration: none;
  color: black;
}
/* ----------------------------------------------------------------------------------*/
/* navigation css*/

#middle nav ul li {
  list-style: none;
}

#middle nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

#middle nav ul li a:hover {
  /*color: #1cb504;*/
  border-bottom: 2px solid rgb(20, 149, 255);
}

#middle nav ul li .current {
  color: #00bfff;
}

#middle li:hover .dropdown {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

/*--------------------------------------*/
/*mega-menu css*/
.dropdown {
  position: absolute;
  width: 60%;
  top: 85px;
  background: white;
  left: 25%;
  padding: 0px 20px;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.dropdown .dropdown-content {
  background: white;
  padding: 20px 25px;
  display: flex;
  width: 100%;
  text-align: start;
}

.dropdown .dropdown-content .row {
  width: 200%;
  line-height: 30px;
}

.dropdown-content .row h4 {
  font-size: 30px;
  font-weight: 500%;
}

.dropdown-content .row .mega-link {
  margin-left: -40px;
  border-left: 1px solid rgb(20, 149, 255);
}

.row .mega-link li {
  padding: 0 10px;
}

.row .mega-link li a {
  padding: 0 20px;
  display: block;
}

/* ----------------------------*/
#background_home h1,
#background_about h1,
#background_products h1,
#background_partners h1,
#background_contact h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
  /*transform: translateY(-100%);*/
  z-index: -1;
  /*opacity: 0;*/
  transition: all 0.5s;
  animation-name: slideUp;
  animation-duration: 0.3s;
}

#background_home h2,
#background_about h2,
#background_products h2,
#background_partners h2,
#background_contact h2 {
  z-index: -1;
  animation-name: slideUp;
  animation-duration: 0.3s;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 50px;
  height: 55px;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(5, 5, 5);
  padding-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(29, 181, 5);
  height: 230px;
  margin-top: 20px;
}

#background_home {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/homepage1.jpg");
  background-position: top;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 250px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_home button {
  display: inline-block;
  align-items: start;
  justify-content: center;
  background-color: transparent;
  border-color: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  width: 200px;
  color: white;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

#background_home button:hover {
  border-color: rgb(20, 149, 255);
}

#background_about {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/aboutus1.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_products {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/products1.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_partners {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/clients1.jpg");
  background-position: top;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_contact {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/contactus2.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#left {
  width: 250px;
}

#middle {
  flex: 1;
  align-items: center;
  margin-right: 70px;
  margin-left: 70px;
}

#right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 250px;
}

#right-item {
  color: black;
  font-size: 17px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 10px;
  transition: color, 0.3s ease;
}

#icons_bag,
#icons_heart {
  border-bottom-style: solid;
  border-bottom-color: rgb(255, 255, 255);
  margin-right: 15px;
  padding-bottom: 2px;
  transition: all 0.2s ease-in;
}

#icons_bag:hover,
#icons_heart:hover {
  border-bottom-color: rgb(20, 149, 255);
}

#nav_content {
  list-style: none;
  text-align: center;
}

#nav_link {
  flex-shrink: 0;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav_text.active {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#icons_bag.active {
  border-bottom: 2px solid rgb(20, 149, 255);
}

/*-----------Home Page -----------------------------------*/

#home_paragraph {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: left;
  align-items: flex-start;
}
#home_heading {
  margin-bottom: 0;
}

#home_para {
  margin-top: 0;
  padding-bottom: 45px;
}

#home_box {
  display: flex;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: center;
}

#lines {
  margin: 0;
  width: 400px;
}

#home_box_head {
  padding-top: 20px;
  text-align: center;
}

#homeboxes {
  display: grid;
  max-width: 1200px;
  margin: 0 auto;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  padding-top: 20px;
  padding-bottom: 20px;
}

#prodbox1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 250px;
  height: 315px;
  border-style: solid;
  padding: 25px 15px;
  border-radius: 10px;
  border-width: 1px;
}

#prodbox1 img{
  object-fit: cover;
  height: 200px;
  object-position: center;
}

#prodbox2 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 250px;
  height: 315px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  transition: all 0.2s ease-in;
}

#prodbox2 p b {
  text-align: left;
}

#prodbox2:hover {
  cursor: pointer;
  border-color: rgb(20, 149, 255);
  box-shadow: 0px 0px 5px gray;
}

#prodbox4 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 250px;
  height: 355px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  transition: all 0.2s ease-in;
}

#boxbutton {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #00bfff;
  margin-bottom: 5px;
  width: 200px;
  height: 33px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
}

#boxbutton:hover {
  background-color: rgb(29, 181, 5);
  box-shadow: 0px 0px 3px gray;
}

#loginlinks {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in;
}

#loginlinks:hover {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#home_heading {
  margin: 0;
  padding-bottom: 0px;
}

#paragraph_link {
  text-decoration: none;
  color: rgb(20, 149, 255);
  transition: all 0.2s ease-in;
}
#paragraph_link:hover {
  color: rgb(29, 181, 5);
}

#nav_content_foot {
  list-style: none;
  text-align: left;
  width: 120px;
  margin: 0;
}

#nav_text_foot {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

#nav_text_foot:hover {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#nav_link_foot {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

/*-------------------Body feature section-----------------------------*/
#features{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#feature_box{
  text-align: center;
  padding-top: 1px;
}

#feature_box p{
  text-align: center;
  padding: 1px 1px;
}

#fea-container{
  cursor: pointer;
  position:relative;
  justify-content: center;
  width: 250px;
  height: 370px;
  border-style: transparent;
  padding: 25px 30px;
  margin: 20px 30px;
  box-shadow: 20px 20px 30px grey;
  transition: all 0.3s ease-in;
}

#fea-container:hover{
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
}

#fea{
  position:relative;
  margin-left: auto;
  margin-right: auto;
}

#fea img{
object-fit: cover;
height: 175px;
object-position: center center;
top:0;
}

#fea-container h6{
  font-size: 15px;
  color: grey;
  font-weight: 100;
}

#fea-container h4{
  font-size: 20px;
  font-weight:lighter;
}

#fea-container h5{
  font-size: 18px;
  font-weight:bold;
  color: rgb(15, 149, 15)
}

#star{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: baseline;
  width: 50%;
  padding: 5px 5px;
  transition: all 0.2s ease-in;

}

#boxbutton-home {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  color: white;
  background-color: #0f7f02;
  width: 200px;
  height: 33px;
  padding: 5px 5px;
  transition: all 0.2s ease-in;
  position:absolute;
  bottom: 0;
  margin-left: 25px;
}

#boxbutton-home:hover {
  background-color: rgb(29, 181, 5);
  box-shadow: 0px 0px 3px gray;
}

/*------------------------*/

/*-----------banner-------------*/

#deals_banner{
  padding: 20px 0;
  margin: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../_images/banner5.jpg");
  object-fit: cover;
  height: 40vh;
  background-size:cover;
  background-position: center;
  font-weight:bolder; 
  font-size: 30px;
}
#deals_banner span{
  color: red;
}

#deals_banner button{
  display: inline-block;
  align-items: start;
  justify-content: center;
  background-color: solid;
  border-color: #d9d9d9;
  border-radius: 10px;
  border-style: solid;
  width: 200px;
  color: black;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 900;
  font-size: 20px;
  transition: all 0.2s ease-in;
}

#deals_banner button:hover{
  background-color: rgb(20, 149, 255);
}

#bottom_banners{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
  font-size: small;
  }

#bottom_banners .info_banner1{
  margin-left:10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../_images/banner4.jpg");
  min-width: 200px;
  height: 60vh;
  background-size:fit;
  background-position: center;
}

#bottom_banners .info_banner2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../_images/banner5.jpg");
  min-width: 200px;
  height: 60vh;
  background-size:fit;
  background-position: center;
}

#bottom_banners .info_banner3{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../_images/banner4.jpg");
  min-width: 200px;
  height: 60vh;
  background-size:fit;
  background-position: center;
}

#bottom_banners .info_banner4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("../_images/banner2.png");
  min-width: 200px;
  height: 60vh;
  background-size:fit;
  background-position: center;
}

/*--------------------------------*/

#foot_line {
  height: 1px;
  background-color: rgb(0, 0, 0);
  border-style: none;
  margin: 0;
  margin-left: 35px;
  margin-right: 35px;
}

#footer_text {
  margin: 0;
  padding-left: 40px;
  padding-top: 10px;
}

footer {
  background-color: #d9d9d9;
}

#product_head {
  text-align: center;
  align-items: center;
  padding-top: 15px;
}

#searchbar {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  background-color: white;
  border-bottom-color: black;
  height: 25px;
  width: 300px;
  padding-left: 5px;
  transition: all 0.2s ease-in;
}

#searchbar:hover {
  border-bottom-color: rgb(20, 149, 255);
}

#searchbar:focus {
  outline: none;
  border-bottom-color: rgb(20, 149, 255);
}

#searchbutton {
  cursor: pointer;
  margin: 0;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  background-color: white;
  border-bottom-color: black;
  transition: all 0.2s ease-in;
}

#searchbutton:hover {
  color: rgb(20, 149, 255);
  border-bottom-color: rgb(20, 149, 255);
}

#search_bar {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

#prod_back_main {
  padding-top: 95px;
  padding-left: 5%;
}

#prod_back {
  text-decoration: none;
  color: rgb(20, 149, 255);
  transition: all 0.2s ease-in;
}

#prod_back:hover {
  color: rgb(29, 181, 5);
}

#all_products_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  background-color: white;
  border-bottom-color: black;
}

#prod_left ul li {
  list-style: none;
}

#prod_left ul {
  display: flex;
  flex-direction: row;
}

#prod_left {
  padding-top: 5px;
}

#prod_display {
  display: grid;
  max-width: 1150px;
  gap: 1rem;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  padding-top: 30px;
  padding-bottom: 20px;
}

/* ------------ Checkout page-----------*/

.checkout_heading {
  margin-top: 100px;
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: right;
  display: flex;
}

#Logo_name1 {
  color: rgb(20, 149, 255);
}

#Logo_name2 {
  color: rgb(29, 181, 5);
}

#checkout_lines {
  margin-left: 3%;
  margin-right: 3%;
}

.checkout h2 {
  padding-top: 15px;
  text-align: center;
}

.checkout h1 {
  font-size: 3rem;
}

#checkout_boxes {
  display: grid;
  grid-template-columns: 300px 300px;
  row-gap: 10px;
  margin-left: 3%;
  margin-right: 3%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#checkbox1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 250px;
  height: 315px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}

#rem_button {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #00bfff;
  margin-bottom: 5px;
  width: 200px;
  height: 33px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
}

#rem_button:hover {
  background-color: rgb(227, 46, 46);
}

.checkout_button {
  padding-left: 3%;
}

#total_price {
  padding-left: 3%;
}

#prod_line {
  margin-top: 10px;
  margin-left: 3%;
  margin-right: 3%;
  background-color: black;
  height: 1px;
  border-style: none;
}

#prod_info_section {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-around;
  align-items: flex-start;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  height: 60vh;
  padding-top: 10px;
  gap: 100px;
}

#prod_info {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
#info_top {
  display: flex;
  flex-direction: column;
  width: 350px;
}

#prod_name {
  width: 350px;
  text-wrap: wrap;
}

#prod_code {
  color: rgb(162, 162, 162);
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

#prod_img {
  padding-top: 100px;
}

#prod_price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

/* ------------ Favourite page-----------*/

#addfavourite {
  cursor: pointer;
  font-size: 15px;
  border-style: solid;
  border-radius: 15px;
  border-color: black;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  width: 200px;
  height: 33px;
  margin-top: 40px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in;
}

#addfavourite:hover {
  color: rgb(20, 149, 255);
  border-color: rgb(20, 149, 255);
  box-shadow: 0px 0px 3px gray;
}

#add_more {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 15px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
}

#prodbox3 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 250px;
  height: 275px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
  transition: all 0.2s ease-in;
}

#prodbox3 p b {
  text-align: left;
}

#prodbox3:hover {
  cursor: pointer;
  border-color: rgb(20, 149, 255);
  box-shadow: 0px 0px 5px gray;
}

#prod_display2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#heart_button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 33px;
  width: 33px;
  border-style: solid;
  background-color: white;
  border-radius: 100%;
  transition: all 0.2s ease-in;
}

#heart_button:hover {
  border-color: rgb(20, 149, 255);
}

#add_heart_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#remove_fav_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#remove_fav {
  background-color: white;
  border-style: solid;
  border-radius: 15px;
  width: 200px;
  height: 33px;
}

#fav_boxes {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 20px;
}

/*---------- Contact Page -------------------*/

/* General styles */
#contact_body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px; /* Add some space between the columns */
}

#contact_headings {
  margin-bottom: 0;
  padding-top: 45px;
}

#contact_paragraph {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

#contact_map {
  display: block;
  margin: auto;
  border-radius: 11px;
  margin-bottom: 5rem;
  width: 100%;
  max-width: 600px;
}

#contact_footer {
  margin-top: 50px;
}

.contact_info {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 24px;
  margin-bottom: 35px;
  margin-top: 30px;
  /* Ensure the vertical alignment with Physical Address */
  align-self: start;
}

.contact_form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 40px;
  border: 2px solid black;
  border-radius: 15px;
}

.contact_form h1 {
  text-align: center;
}

#contactForm label {
  display: block;
  margin-bottom: 0.5rem;
}

#contactForm input, textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

#contactForm button {
  background-color: #00bfff;
  color: #fff;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Responsive styles */
@media (max-width: 1200px) {
  #contact_body {
    margin-left: 20px;
    margin-right: 20px;
  }

  #contact_map {
    width: 100%;
  }
}

@media (max-width: 992px) {
  #contact_body {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
  }

  .contact_info, .contact_form {
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .contact_info, .contact_form {
    padding: 20px;
  }

  .contact_form {
    margin: 0 auto;
  }

  #contact_map {
    height: 300px;
  }
}

@media (max-width: 576px) {
  .contact_info, .contact_form {
    padding: 15px;
  }

  #contact_headings {
    padding-top: 20px;
  }

  #contact_paragraph {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #contact_map {
    height: 200px;
  }

  #contactForm input, textarea {
    padding: 0.25rem;
  }

  #contactForm button {
    padding: 0.5rem 1rem;
  }
}


/*---about page -------------------------------*/

#about_paragraph {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 70px;
  margin-right: 70px;
  gap: 30px;
}

#about_description {
  padding-top: 45px;
  text-align: justify;
  font-size: large;
}

#info_paragraph {
  padding-bottom: 45px;
  padding-top: 15px;
  text-align: inherit;
}

#market_list {
  list-style: none;
  text-align: center;
}

#about_headings {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 5px;
  border-bottom-width: 1px;
}

#client_list {
  list-style: none;
  padding: 0;
}

#partner_info {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  gap: 150px;
  justify-content: center;
  align-items: flex-start;
}

#partner_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

#partners1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#partner_heading {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#client_body_bottom {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  gap: 150px;
  justify-content: center;
  align-items: flex-start;
}

#client_imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}

#client_head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#client_imgs {
  width: 100%;
  margin: 20px;
}
#client_imgs img {
  display: block;
  margin: 0 auto;
}
.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-prev:before, .slick-next:before {
  color: black;
}
.carousel-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 50px;
}

#partners {
  transition: all 0.2s ease-in;
}
#partners:hover {
  width: 165px;
}

#partner_heading {
  text-align: center;
  margin-bottom: 20px;
}
#partner_imgs {
  width: 80%;
  margin: 0 auto;
}
#partner_imgs img {
  display: block;
  margin: 0 auto;
}
.slick-prev:before, .slick-next:before {
  color: black;
}

#register_heading {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 5px;
  border-bottom-width: 1px;
}

#signup_container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  gap: 300px;
}

#signup_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

#signup_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin-top: 5px;
}

.signup_box {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  background-color: white;
  border-bottom-color: black;
  height: 25px;
  width: 400px;
  padding-left: 5px;
  transition: all 0.2s ease-in;
}

.signup_box:hover {
  border-bottom-color: rgb(20, 149, 255);
}

.signup_box:focus {
  outline: none;
  border-bottom-color: rgb(20, 149, 255);
}

#signup_button {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #00bfff;
  margin-bottom: 5px;
  width: 200px;
  height: 33px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
}

#signup_button:hover {
  background-color: rgb(29, 181, 5);
  box-shadow: 0px 0px 3px gray;
}

#login_heading {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 5px;
  border-bottom-width: 1px;
}

#login_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  gap: 50px;
}

#login_button {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #00bfff;
  margin-bottom: 5px;
  width: 200px;
  height: 33px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
}

#login_button:hover {
  background-color: rgb(29, 181, 5);
  box-shadow: 0px 0px 3px gray;
}

.menu {
  font-size: 2.8rem;
  color: black;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1250px) {
  #middle nav ul li a {
    font-size: 12px;
  }

  #loginlinks {
    font-size: 14px;
  }

  #icons_heart {
    width: 25px;
  }

  #icons_bag {
    width: 25px;
  }

  #prod_left ul li {
    font-size: 14px;
  }
}

@media (max-width: 1050px) {
  #middle nav ul li {
    display: block;
    padding-top: 15px;
    transform: translateY(-50px);
    transition: all 0.3s ease;
  }

  #middle nav ul li a {
    font-size: 20px;
  }

  .dropdown {
    display: none;
  }

  #loginlinks {
    font-size: 12px;
  }

  #icons_heart {
    width: 24px;
  }

  #icons_bag {
    width: 24px;
  }

  .menu {
    display: inline-flex;
  }

  .menu #close_icon {
    display: none;
  }

  #middle {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    width: 100%;
    height: 0;
    background-color: white;
    overflow: hidden;
    border-top-style: solid;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-top-color: black;
    border-bottom-width: 0.5px;
    border-top-width: 0.5px;
    transition: all 0.3s ease;
  }

  #check:checked ~ #middle {
    height: 17.7rem;
  }
  #check:checked ~ .menu #menu_icon {
    display: none;
  }

  #check:checked ~ .menu #close_icon {
    display: block;
  }
  #check:checked ~ #middle nav ul li {
    transform: translateY(0);
  }

  header {
    justify-content: space-between;
  }

  #prod_left ul li {
    font-size: 11px;
  }
}
