/* universal css styling rules for all pages. */

@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap");
root {
  --Poppins: "Poppins";
  --dark: #353336;
}
* {
  margin: 0;
  margin-left: 0;
  margin-right: 0;
  /*box-sizing: border-box;*/
  font-family: "Poppins", "Helvetica Neue", sans-serif;
  /* outline for testing purposes */
  /*outline: red dashed 1px;*/
}

/* ----------------------------------------------------------------------------------*/
/* navigation css*/

#middle nav ul {
  /*float: right;*/
}

#middle nav ul li {
  list-style: none;
}

#middle nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

#middle nav ul li a:hover {
  /*color: #1cb504;*/
  border-bottom: 2px solid rgb(20, 149, 255);
}

#middle nav ul li .current {
  color: #00bfff;
}

/* ----------------------------*/
#background_home h1,
#background_about h1,
#background_products h1,
#background_partners h1,
#background_contact h1 {
  font-family: "Cabin", sans-serif;
  font-weight: 700;
  font-size: 60px;
  font-style: italic;
  /*transform: translateY(-100%);*/
  z-index: -1;
  /*opacity: 0;*/
  transition: all 0.5s;
}

#background_home h2,
#background_about h2,
#background_products h2,
#background_partners h2,
#background_contact h2 {
  z-index: -1;
}

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  right: 0;
  align-items: center;
  padding: 15px 10px;
  margin-bottom: 50px;
  height: 55px;
  z-index: 99;
  background-color: rgb(255, 255, 255);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(5, 5, 5);
  padding-bottom: 15px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgb(29, 181, 5);
  height: 230px;
  margin-top: 20px;
}

#background_home {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/homepage2.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 250px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_about {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/aboutus1.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_products {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/products1.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_partners {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/clients1.jpg");
  background-position: top;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#background_contact {
  background-color: rgb(49, 49, 250);
  background-image: url("../_images/_background/contactus2.jpg");
  background-position: center;
  background-size: cover;
  border-color: rgb(138, 137, 137);
  border-style: solid;
  border-bottom-width: 0.1px;
  border-left-width: 0;
  border-right-width: 0;
  padding-top: 250px;
  padding-bottom: 260px;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 1px black;
}

#left {
  width: 250px;
}

#middle {
  flex: 1;
  align-items: center;
  margin-right: 70px;
  margin-left: 70px;
}

#right {
  display: flex;
  justify-content: right;
  align-items: center;
  width: 250px;
}

#nav_content {
  list-style: none;
  text-align: center;
}

#nav_link {
  flex-shrink: 0;
  display: inline-block;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

#nav_text.active {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#home_paragraph {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: left;
  align-items: flex-start;
}
#home_heading {
  margin-bottom: 0;
}

#home_para {
  margin-top: 0;
}

#home_box {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}

#lines {
  margin: 0;
  width: 400px;
}

#home_box_head {
  padding-top: 20px;
}

#homeboxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  padding-top: 20px;
  padding-bottom: 10px;
}

#prodbox1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 315px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  border-width: 1px;
}

#boxbutton {
  cursor: pointer;
  font-size: 15px;
  border-style: none;
  border-radius: 15px;
  color: white;
  background-color: #00bfff;
  margin-bottom: 5px;
  width: 200px;
  height: 33px;
  margin-top: 10px;
  transition: all 0.2s ease-in;
}

#boxbutton:hover {
  background-color: rgb(29, 181, 5);
}

#loginlinks {
  text-decoration: none;
  color: black;
  transition: all 0.2s ease-in;
}

#loginlinks:hover {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#home_heading {
  margin: 0;
  padding-bottom: 0px;
}

#paragraph_link {
  text-decoration: none;
  color: rgb(20, 149, 255);
  transition: all 0.2s ease-in;
}
#paragraph_link:hover {
  color: rgb(29, 181, 5);
}

#nav_content_foot {
  list-style: none;
  text-align: left;
  width: 120px;
  margin: 0;
}

#nav_text_foot {
  color: black;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
}

#nav_text_foot:hover {
  border-bottom: 2px solid rgb(20, 149, 255);
}

#nav_link_foot {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 10px;
}

#foot_line {
  height: 1px;
  background-color: rgb(0, 0, 0);
  border-style: none;
  margin: 0;
  margin-left: 35px;
  margin-right: 35px;
}

#footer_text {
  margin: 0;
  padding-left: 40px;
  padding-top: 10px;
}
